{% extends 'layout.html' %}


{% load staticfiles%}

{% block title %} Home {% endblock %}

{% block content %}


<!-- Hero Content -->
<div class="bg-primary-dark-op">
	<section class="content content-full content-boxed overflow-hidden">

	<!-- Section Content -->
	<div class="push-100-t push-50">
		<div class="col-lg-6">
			<h1 class="h1 text-white push-10">Paybill.io</h1>
			<h2 class="h5 text-white-op">Powerful, flexible and reliable UI framework that just works. Your valuable feedback made it happen.</h2>
			</br>
			</br>
			<ul class="text-white fa-ul">
			<li><i class="fa fa-check fa-li"></i>Bitcoin Payments</li>
			<li><i class="fa fa-check fa-li"></i>Pay all sort of Bills</li>
			<li>
			<i class="fa fa-check fa-li"></i>Billing Companies
			<ul class="fa-ul">
			<li><i class="fa fa-angle-right fa-li"></i>All Mobile Networks</li>
			<li><i class="fa fa-angle-right fa-li"></i>PTCL, GEPCO, K-Electric</li>
			<li><i class="fa fa-angle-right fa-li"></i>Wateen, WiTribe, Gas</li>
			</ul>
			</li>
			<li><i class="fa fa-check fa-li"></i>Mobile Reloads</li>
			</ul>
			</br>
			</br>
			<a class="btn btn-rounded btn-noborder btn-lg btn-primary" href="/">Track your Transfer</a>
		</div>


		<div class="col-lg-6">
			<!-- Validation Wizard (.js-wizard-validation class is initialized in js/pages/base_forms_wizard.js) -->
			<!-- For more examples you can check out http://vadimg.com/twitter-bootstrap-wizard-example/ -->
			<div class="js-wizard-validation block animated block-link-hover2 zoomInUp">
				<!-- Step Tabs -->
				<ul class="nav nav-tabs nav-tabs-alt nav-justified">
					<li class="active">
						<a class="inactive" href="#validation-step1" data-toggle="tab">1. Information</a>
					</li>
					<li>
						<a class="inactive" href="#validation-step2" data-toggle="tab">2. Bill Details</a>
					</li>
				</ul>
				<!-- END Step Tabs -->

				<!-- Form -->
				<!-- jQuery Validation (.js-form2 class is initialized in js/pages/base_forms_wizard.js) -->
				<!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
				<form class="js-form2 form-horizontal" action="/submitrequestdata" method="post">
					<!-- Steps Content -->
					<div class="block-content tab-content">
						<!-- Step 1 -->
						<div class="tab-pane fade fade-right in push-30-t push-50 active" id="validation-step1">
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-2">
									<div class="form-material">




										<select class="form-control" id="validation-bill_type" name="validation-bill_type" size="1">
										<option value="0">Select a Bill Type </option>
										<option value="internet">Electricity</option>
										<option value="2">Internet Broadband</option>
										<option value="3">Gas</option>
										<option value="4">Mobile Recharge</option>
										</select>
										<label for="validation-bill_type">Bill Type</label>




									</div>
								</div>
							</div>



							<div id="billing_company" class="form-group ">
								<div class="col-sm-8 col-sm-offset-2">
									<div class="form-material">




										<select class="form-control" id="validation-billing_company" name="validation-billing_company" size="1">
										<option value="None">Select a Bill Type First </option>
										</select>
										<label for="validation-billing_company">Billing Company</label>




									</div>
								</div>
							</div>






							<div class="form-group">

								<div class="col-sm-8 col-sm-offset-2">
									<div class="form-material">




										<input class="form-control" type="email" id="validation-email" name="validation-email" placeholder="Please enter your email">
										<label for="validation-email">Email</label>




									</div>
								</div>
							</div>






							<div class="form-group">
                                <div class="col-md-8 col-sm-offset-2">

                                    <div class="form-material">
                                        <input class="js-datepicker form-control" type="text" id="validation-date" name="validation-date" data-date-format="mm/dd/yy" placeholder="mm/dd/yy">
                                        <label for="validation-date">Choose a date</label>
                                    </div>
                                </div>
                            </div>



						</div>
						<!-- END Step 1 -->


						<!-- Step 2 -->
						<div class="tab-pane fade fade-right push-30-t push-50" id="validation-step2">
							


							<div id="final-payment">

								<div id="removefinal">

									<div class="form-group">
										<div class="col-sm-8 col-sm-offset-2">
											<div class="form-material">




												<input class="form-control" type="text" id="validation-billidnumber" name="validation-billidnumber" placeholder="Enter Billing ID / Consumer Number">
												<label for="validation-billidnumber">Billing ID</label>




											</div>
										</div>
									</div>




									<div class="form-group">
										<div class="col-sm-8 col-sm-offset-2">
											<div class="form-material">




												<input class="form-control" type="text" id="validation-billamount" name="validation-billamount" placeholder="Amount to be paid exactly as shown on your bill">
												<label for="validation-billamount">Bill Amount</label>




											</div>
										</div>
									</div>





									<div class="form-group">
										<div class="col-sm-8 col-sm-offset-2">
											<div class="form-material">




												<input class="form-control" type="text" id="validation-contact_num" name="validation-contact_num" placeholder="Contact Number to get the Confirmation Message / Call">
												<label for="validation-contact_num">Contact Number</label>




											</div>
										</div>
									</div>







									

									<div class="form-group">
										<div class="col-sm-8 col-sm-offset-2">



											<label class="css-input switch switch-sm switch-primary" for="validation-term">
											<input type="termbox" id="validation-term" name="validation-term"><span></span> Agree with the <a data-toggle="modal" data-target="#modal-term" href="#">terms</a>
											</label>
										



										</div>
									</div>
								</div>



								<div id="show_payment_details" class="col-sm-offset-2">
									<h3>Payment Information</h3>


									<p class="nice-copy">Please send your payment to following address for 
									</br>
									exact amount list below with in given left time!
									<br>
                                        <span class="label label-default"><i class="fa fa-bitcoin"></i> 3HcGoxru2msKRcmpktDNSrAgNCB9B7Zu4V  </span>
  										
										<br>

                                    	<span class="label label-primary 2px-margin-label"><i class="fa fa-money"></i> 0.00172413</span>
 										
 										<br>

                                    	<span class="label label-warning 2px-margin-label"><i class="fa fa-info-circle"></i> Request ID : 100234</span>

                                    	<br>

                                    	<span class="label label-danger 2px-margin-label"><i class="fa fa-clock-o fa-spin"></i> Timeleft : 12:40</span>

  					
                                    </p>
                                    Once you have made the payment you can click Confirm Payment to complete the process.
								</div>


							</div>



						</div>
						<!-- END Step 2 -->

					</div>
					<!-- END Steps Content -->

					<!-- Steps Navigation -->
					<div class="block-content block-content-mini block-content-full border-t">
						<div class="row">
							<div class="col-xs-6">


								<button id="previous-step" class="wizard-prev btn btn-warning" type="button"><i class="fa fa-arrow-circle-o-left"></i> Previous</button>


							</div>
							<div class="col-xs-6 text-right">


								<button id="next-step" class="wizard-next btn btn-primary" type="button">Next <i class="fa fa-arrow-circle-o-right"></i></button>


								<!-- Submit Request Button -->
								<div id="button-control">
								<button id="submit_req_form" class="wizard-finish btn btn-primary" type="submit"><i class="fa fa-check-circle-o"></i> Submit</button>
								</div>



							</div>
						</div>
					</div>
				<!-- END Steps Navigation -->
				</form>
				<!-- END Form -->
			</div>
			<!-- END Validation Wizard Wizard -->
		</div>
	</div>
	<!-- END Section Content -->
	</section>
</div>
<!-- END Hero Content -->
















































<!-- Classic Features #2 -->
<div class="bg-white">
    <section class="content content-boxed">
        <!-- Section Content -->
        <div class="row items-push-3x push-50-t nice-copy">
            <div class="col-sm-4">
                <div class="text-center push-30">
                    <span class="item item-2x item-circle border">
                        <i class="si si-compass"></i>
                    </span>
                </div>
                <h3 class="h5 font-w600 text-uppercase text-center push-10">Cross Browser Support</h3>
                <p>OneUI will play nice with all modern browsers such as Chrome, Firefox, Safari, Opera and the latest versions of Internet Explorer (9 and up).</p>
            </div>
            <div class="col-sm-4">
                <div class="text-center push">
                    <span class="item item-2x item-circle border">
                        <i class="si si-book-open"></i>
                    </span>
                </div>
                <h3 class="h5 font-w600 text-uppercase text-center push-10">Documentation</h3>
                <p>OneUI comes packed with a great documentation which covers all the basics to get you familiar with template’s structure and files. It is the best way to get started.</p>
            </div>
            <div class="col-sm-4">
                <div class="text-center push">
                    <span class="item item-2x item-circle border">
                        <i class="si si-rocket"></i>
                    </span>
                </div>
                <h3 class="h5 font-w600 text-uppercase text-center push-10">Clean &amp; Commented Code</h3>
                <p>The code is created with the developer in mind. It is clean, easy to follow, easy to replicate and at the same time well commented, so that you never feel lost.</p>
            </div>
        </div>
        <!-- END Section Content -->
    </section>
</div>
<!-- END Classic Features #2 -->




<!-- Get Started -->
<div class="bg-gray-lighter">
    <section class="content content-full content-boxed">
        <!-- Section Content -->
        <div class="push-20-t push-20 text-center">
            <h3 class="h4 push-20 visibility-hidden" data-toggle="appear">Clean design in one powerful package. It was made for your next awesome project.</h3>
            <a class="btn btn-rounded btn-noborder btn-lg btn-success visibility-hidden" data-toggle="appear" data-class="animated bounceIn" href="frontend_pricing.html">Get Started Today</a>
        </div>
        <!-- END Section Content -->
    </section>
</div>
<!-- END Get Started -->


<div id="jumping-jack" class="col-xs-11 col-sm-4 alert alert-danger animated fadeIn" role="alert" data-notify-position="top-center" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; z-index: 1031; top: 20px; left: 0px; right: 0px; -webkit-animation: 1; animation: 1;">

	<span data-notify="icon" class="fa fa-times"></span> <span data-notify="title"></span> <span id="error-message-ajax" data-notify="message"></span>

</div>



{% endblock %}


